<nav class="sidebar">
    <h1>SmartHire</h1>
    <a href="{{ path('app_dashboard') }}">Dashboard</a>
    <a href="{{ path('app_candidat_index') }}">Candidats</a>
    <a href="{{ path('app_offre_index') }}">Offres</a>
    <a href="{{ path('app_recrutement_index') }}">Recrutements</a>
    <a href="{{ path('app_reunion_index') }}">Réunions</a>
</nav>
